<template>
  <b-container class="home">
    <b-row>
      <b-col cols="6">
        <h1>Home</h1>
        <b-form @submit.prevent="onSubmit">
          <b-form-group label="Year" label-for="year">
            <b-form-input
              id="year"
              v-model="form.year"
              type="number"
              placeholder="Enter a year..."
              required
              min="0"
            />
          </b-form-group>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
      </b-col>
      <b-col cols="6" v-if="primeYears.length">
        <b-table striped hover :items="primeYears"></b-table>
      </b-col>
      <b-col cols="6" v-else-if="noResults">
        <p class="pt-4 text-center">No results. Try a different number.</p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      form: {},
      year: null,
      primeYears: [],
      noResults: false,
    };
  },

  methods: {
    async onSubmit() {
      const formData = new FormData();

      formData.append('year', this.form.year);

      await this.$axios
        .post(`/api/add-year`, formData)
        .then((response) => {
          const primeYears = response.data;
          this.$bvToast.toast(`Send Successfully`, {
            title: 'Success!',
            variant: 'success',
          });

          if (primeYears.length === 0) {
            this.primeYears = [];
            this.noResults = true;

            return;
          }

          this.primeYears = primeYears;
        })
        .catch(() => {
          this.$bvToast.toast(`Something when wrong`, {
            title: 'Example',
            variant: 'danger',
          });
        });
    },
  },
};
</script>
